/* Form Section */
.form-section {
    padding: 70px 0;
    text-align: center;
}

.form-section h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.form-subtitle {
    margin-bottom: 30px;
    color: #555;
}

.form-card {
    background: white;
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.form-group {
    text-align: left;
    margin-bottom: 18px;
}

.form-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.form-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 16px;
    background: #00d68f;
    border: none;
    color: white;
    cursor: pointer;
}

.form-btn:hover {
    background: #00bd7c;
}

.form-info {
    margin-top: 20px;
}
